 <a href = "{% url 'get_to_main' %}">
    <button class="panel_buttons"><b class="text_in_button">Main Page</b></button>
 </a>
 <span class="auth-data">
    {% if request.user.is_authenticated %}
         <b id="auth-data">{{request.user.username}}</b>
    <a href="{% url 'logout' %}">
        <button class="panel_buttons"><b class="text_in_button">Logout</b></button>
    </a>
    {% else %}
    <a href="{% url 'create_account' %}">
        <button class="panel_buttons"><b class="text_in_button">Sign up</b></button>
    </a>
     <a href="{% url 'login' %}">
    <button class="panel_buttons"><b class="text_in_button">Login</b></button>
    </a>
     <dialog id="login-dialog">
     </dialog>
{% endif %}
 </span>