{% extends 'mainapp/base.html' %}
{% load db_tags %}
{% block content %}

{% show_types %}

<b class="page_output">
        {% if request.user.is_authenticated %}
        <b id="create_room_button_content"><a href="{% url 'create_room' %}"><button id = 'create_room_button'><b id = 'text_in_button'>Create Room</b></button></a></b>
        {% for room in page_obj %}
                <hr>
                <h2 style="color: yellow;">{{room.type.type_name}}</h2><h1><a class="nolnk" href={{room.get_output_address}}>{{ room.room_name }}</a></h1><a class="nolnk" id="user_lnk" href={{room.get_user_address}}>{{ room.author.username }}</a class="nolnk"><br>
        {% endfor %}
        {% else %}
        <h1>Log in to see all rooms</h1>
        {% endif %}

</b>
{% show_pag pag=paginator req=request selpage=page_obj.number%}



{% endblock %}