{% extends 'mainapp/base.html' %}
{% load chat_auth_tags %}


{% block content %}
<form method="post">
    {% csrf_token %}

    <span style="float:left;">
        {% for m in members %}
    <div style="font-size: 150%;">
        <span style="black; color: white;">

        </span>

            {% if m.user.avatar %}
            <img style="border-radius: 50%; overflow:hidden; vertical-align: middle;" src="{{m.user.avatar.url}}" height="50" width="50" >
            {% endif %}
            <b style="color: white;">
                {{m.user.username}}
            </b>

        {% if m.user != request.user %}
        <span style="background-color: white; color: black;">

                Role: <input name="{{m.pk}}|role" class="manage-members-inputs" type="text" value="{{m.role}}">
                Can write: {% if m.can_write %}<input name="{{m.pk}}|can_write" type="checkbox" checked> {% else %}<input name="{{m.pk}}|can_write" type="checkbox">{% endif%}
                Kick: <input name="{{m.pk}}|kick" type="checkbox">
        </span>
        {% else %}
         <span style="background-color: white; color: black;">
                Role: <input name="{{m.pk}}|role" class="manage-members-inputs" type="text" value="{{m.role}}">
        </span>
        {% endif %}
    </div>
        <br>
{% endfor %}
        <br>
      <input style="font-size: 25px; color: green; border-radius: 50%; height: 60px;" type='submit' value="Save">
    </span>
</form>

    {% show_manage_tools room_id=rid %}
{% endblock %}
