{% extends 'mainapp/base.html' %}
{% load static %}
{% load chat_auth_tags %}
{% block content %}

<textarea readonly id="chat-log" class="chat-text-area" style="
height: {{room.chat_height}}px;
width: {{room.chat_width}}px;
background-color: {{room.chat_background_color}};
color: {{room.chat_font_color}}
"></textarea>
<textarea readonly id="action-log" class="chat-text-area" style="
height: {{room.action_chat_height}}px;
width: {{room.action_chat_width}}px;
background-color: {{room.action_chat_background_color}};
color: {{room.action_chat_font_color}}

"></textarea>
<br>



    {{ room.pk|json_script:"room-name" }}

    {% if  request|can_write:room %}
        <input  id="chat-message-input" type="text" alt="Submit" size="100" oninput="InpReaction()"><br>
        <input disabled id="chat-message-submit" type="button" value="Send">
    {% else %}
        <h>You can only watch</h>
    {% endif %}
    {% if request.user == room.author %}
    <a href="{% url 'manage_room_options' room_id=room.pk %}"><button>Manage</button></a>
    {% endif %}
    <script type="text/javascript" src="{% static 'chat/js/chat.js' %}"></script>

{% endblock %}