body{
            background-color: #333333;
            color: #BBBBBB;
}

.page_output{
    position: relative;
    font-size: 70%;
}

.nolnk {
    color:white;
    text-decoration:none;
}



.panel_buttons {
    font-size:80%;
}


#user_lnk{
    color: #AAAAAA;
}






.text_in_button{
    font-size: 120%;
}

.creating_inputs{
    position: relative;
    width: 20%;
    height: 50%;
}

#select_inp{
    width: 29%;
    height: 30px;
    font-size: 110%;
}

.errorlist
    {
        color: #DD5555;
    }

#create_room_button_content{
    position: relative;
    top: 20px;
}

#create_room_button{
    width: 100%;
    height: 30px;
}

.select_page{
    position: relative;
    top: 50px;
    font-size: 200%;
}

#selected_page{
    color: black;
    font-size: 150%;
}


#panel_part{
    background-color: red;
}

.chat-text-area{
    font-size: 20px;
    background-color: #FFF88F;
    color: black;
    resize: None;
}
.manage-members-inputs{
    font-size: 80%;
    position:
    relative;
    bottom:2px;
    background-color:
    black; color:
    white;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}
img {
    width: 50px;
    height: 50px;
    background-color: grey;
}
.caption {
    display: block;
}

span.item {
    vertical-align: top;
    text-align: center;
    width: 120px;
}

.pagination{
    color:white;
    text-decoration:none;
}